@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

.welcome {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(122.19deg, #945a76 1.89%, #523ab2 113.56%);
  position: relative;
  overflow: hidden;
}

.welcome > h1 {
  font-family: "Changa One";
  font-weight: normal;
  font-size: 144px;
  left: 46px;
  top: 155px;
  position: absolute;
  color: white;
}

.login-register-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  left: 150px;
  top: 360px;
  background: #ffffff;
}

.login-register-container > input {
  height: 30px;
  width: 80%;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 5px;
}

.login-register-container > button {
  padding: 5px 20px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.sign-in-register-btn {
  background: linear-gradient(122.19deg, #da2079 1.89%, #2a00d5 113.56%);
  font-size: 20px;
  margin-top: 10px;
  font-family: "Changa One";
  font-weight: normal;
  color: white;
}

.create-account-btn {
  background: none;
  margin-top: 10px;
}

.todo-svg {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 100%; /* Add this line */
  height: auto; /* Maintain aspect ratio */
  transform: scale(1.3);
  
}

@media screen and (max-width: 768px) {
  .welcome > h1 {
    font-size: 3rem;
  }

  .login-register-container {
   width: 50%;
    padding: 15px;
    right: 50px;
  }

  .login-register-container > input {
    font-size: 1rem;
  }

  .login-register-container > button {
    font-size: 1rem;
  }
  .todo-svg{
    display: none;
  }
}